.venv
.env
**/*.tfvars
!**/*.tfvars.example
**/*.tfstate
**/*.tfstate.backup
**/*.tfstate.lock.info
**/.terraform/
!**/.terraform.lock.hcl
logs
/data/
/reports/sec_structure/

**/__pycache__/
**/.pytest_cache/
**/.coverage
**/.ruff_cache/
